// Global style variables

$primary-bg: whitesmoke;
$primary-button: #0085ff;
$primary-button-hover: #0071d9;
$primary-button-click: #0071d9;

$button-hover: #e6e9ef;

$dark: #323338;
$light: #ffffff;

$default: #323338;

$text-default: #323338;
$text-link: #1f76c2;

$modal-background: #c3c3c3;

$dark-mode: #292f4c;