.my-items {
  margin-top: 15px;

  .item-list {
    display: block;
  }

  p {
    font-size: small;
    margin-left: 4px;
    font-style: italic;
  }
}

.avatar {
  &:hover {
    cursor: pointer;
  }
}

.header {
  background-color: white;
  margin: 8px;
}

.AddNew {
  //height: 50vh;
  
}

.Existing {
  //height: 50vh;
}

.testing {
  display: inline-flex;
  background-color: lightblue;
  padding: 2px 8px;
  border-radius: 1em;
  margin: 4px 0;
  color: white;

  &:hover{
    background-color: blueviolet;
    cursor: pointer;
    transition: background-color .4s;
  }
}
