.my-items {
  margin-top: 15px;

  .item-list {
    display: block;
  }

  p {
    color: gray;
    font-size: small;
    margin-left: 4px;
    font-style: italic;
  }
}

.avatar {
  &:hover{
      cursor: pointer;
  }
}

.header {
  background-color: white;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}