@import "../../styles/variables";

.custom-header {
  padding: 16px 16px;
  align-items: center;

  .page-name{
    display: flex;
    align-items: center;

    .heading{
      margin-right: 16px;
    }
  }

  .nav-buttons {
    display: flex;
    margin-top: 8px;
    justify-content: flex-end;
  }

  //Icons
  .timesheet-icon {
    margin-left: 8px;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
  }

  .timesheet-icon {
    &:hover {
      background-color: $button-hover;
      cursor: pointer;
    }
  }
  .selected {
    &:hover {
      background-color: $primary-button;
      color: white;
    }
    background-color: $primary-button;
    color: white;
  }
}
