@import "../../styles/variables";

.custom-header {
  padding: 40px 0;
  background-color: whitesmoke;

  .nav-buttons {
    display: flex;
    margin: 8px 0;
    justify-content: flex-end;
  }

  //Icons
  .timesheet-icon {
    margin-left: 8px;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
  }

  .timesheet-icon {
    &:hover {
      background-color: $button-hover;
      cursor: pointer;
    }
  }
  .selected {
    &:hover {
      background-color: $primary-button;
      color: white;
    }
    background-color: $primary-button;
    color: white;
  }
}
