.table-time-capture {
  padding: 8px;
  box-sizing: border-box;

  .item-name {
    width: 70%;
    font-style: italic;
  }
  .time-captures {
    width: 30%;
    font-style: italic;
  }

  td {
    font-size: 16px;
    font-weight: 300;
  }

  tbody tr:hover {
    cursor: pointer;

    td {
      background-color: lightgreen;
    }
  }

  tfoot td {
    font-weight: 600;
  }
}
