@import "../../styles/variables";

.analytics {
  margin-bottom: 16px;

  .card {
    height: 100%;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
      cursor: unset;
    }

    padding: 8px;
  }

  .analytical-block {
    color: darkgray;
  }

  .chart {
    svg {
      width: 100%;
    }
    width: 100%;
  }

  .reporting-taskbar {
    border-radius: 4px;
    background-color: $dark-mode;
    padding: 16px;
  }

  .selector-button {
    //transition: all 0.2s ease;
    color: white;
    padding: 4px 8px;
    background-color: $light;
    color: $dark;
    border-radius: 4px 4px;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.1s ease;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba($light, 0.8);
    }
  }
}
